@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 text-slate-900;
}

.contrast-mode {
  @apply bg-black text-yellow-100;
}

.contrast-mode .bg-white {
  @apply bg-black text-yellow-100 border border-yellow-300;
}

.contrast-mode input,
.contrast-mode select,
.contrast-mode textarea,
.contrast-mode button {
  @apply bg-black text-yellow-100 border-yellow-300;
}
